:root {
	--color1: #111;
	--color2: #222;
	--color3: #333;
	--color4: #444;
	--lightgray1: #dadada;
	--lightgray2: #b3b3b3;
	--gray1: #6f7a85;
	--blue1: #214a80;
	--danger: #dd2f2f;
	--success: #1fc71f;
}

*,
::after,
::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.container {
	font-family: sans-serif;
	height: 100vh;
	background: var(--color1);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container.comprar {
	flex-direction: row;
	justify-content: space-evenly;
}

.formulario,
.consulta,
.carrito {
	display: flex;
	flex-direction: column;
	background-color: var(--color2);
	padding: 30px;
	border-radius: 4px;
	color: #fff;
	box-shadow: 0 0 4px black;
}

.form-group:not(:last-child) {
	margin-bottom: 1rem;
}

.form-input {
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	background: none;
	border: none;
	border-bottom: 1px solid var(--color4);
	outline: none;
	color: inherit;
}

input[type="date"] {
	background-color: var(--color2);
	border: none;
	color: var(--lightgray1);
	margin-bottom: 4px;
}

::-webkit-calendar-picker-indicator {
	filter: invert(1);
}

p {
	font-size: 12px;
	color: var(--gray1);
	opacity: 0.9;
}

.error {
	color: var(--danger);
	margin-top: 4px;
}

.success {
	color: var(--success);
}

select {
	display: block;
	width: 100%;
	padding: 0.375rem 2.25rem 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--lightgray2);
	border-radius: 0.25rem;
	background-color: var(--color3);
	border: 0;
	outline: none;
}

option {
	color: inherit;
}

button {
	background: var(--blue1);
	color: var(--lightgray1);
	border: none;
	border-radius: 4px;
	padding: 11px;
	width: 100%;
	cursor: pointer;
}

button.cerrar {
	appearance: none;
	background: transparent;
	padding: 0;
	margin-left: 8px;
	cursor: pointer;
	font-size: 12px;
	color: var(--gray1);
	width: fit-content;
}

button.secondary {
	background-color: transparent;
	border: 1px solid var(--blue1);
	padding: 6px;
}

p.carritoName {
	font-size: 14px;
}

.carritoDesc:last-child {
	margin-bottom: 8px;
}

.total p {
	font-size: 16px;
}

.signUp {
	text-align: center;
	font-size: 12px;
	color: var(--gray1);
	opacity: 0.9;
	text-decoration: none;
}

table {
	color: var(--lightgray1);
}

th {
	text-align: left;
}

th,
td {
	padding: 6px;
}
